body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #173F5F;
  }
  
  .container {
    position: relative;
    margin: auto;
    color: transparent;
    text-align: center;
    font-family: 'Cambay', sans-serif;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
  }
  
  .container > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ED553B;
    pointer-events: none;
  }
  
  .container > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(#173F5F 25%, transparent 25%);
    mask-image: linear-gradient(#173F5F 25%, transparent 25%);
    animation: container1 5s infinite;
  }
  
  .container > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, #173F5F 25%, #173F5F 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, #173F5F 25%, #173F5F 50%, transparent 50%);
    animation: container2 5s infinite;
  }
  
  .container > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, #173F5F 50%, #173F5F 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, #173F5F 50%, #173F5F 75%, transparent 75%);
    animation: container3 5s infinite;
  }
  
  .container > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, #173F5F 75%);
    mask-image: linear-gradient(transparent 75%, #173F5F 75%);
    animation: container4 5s infinite;
  }
  
  @keyframes container1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes container2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes container3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes container4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }